
@model List<MyPortfolioProject.Models.Experience>

@{
    ViewBag.Title = "ExperienceList";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}


<h2 class="mb-4">Deneyim Listesi ve Islemleri</h2>

<table class="table table-bordered">
    <tr>
        <th> Id</th>
        <th> Baslik</th>
        <th> Alt Baslik</th>
        <th> Aciklama</th>
        <th> Sil</th>
        <th> Guncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count ++;
        <tr>
            <td>@count</td>
            <td>@item.Title</td>
            <td>@item.SubTitle</td>
            <td>@item.Description</td>

            <td><a href="/Experience/DeleteExperience/@item.ExperienceId" class="btn btn-danger">Delete</a></td>
            <td><a href="/Experience/UpdateExperience/@item.ExperienceId" class="btn btn-success">Update</a></td>

        </tr>
    }

</table>
<a href="/Experience/CreateExperience/" class="btn btn-info">Yeni Deneyim Girisi</a>

