
@{
    ViewBag.Title = "EducationList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4"> Egitim Hayati Listem</h2>

<table class=" table table-bordered">
    <tr>
        <th> Id</th>
        <th> Baslik</th>
        <th> Alt Baslik</th>
        <th> Sil</th>
        <th> Guncelle</th>

    </tr>
    <tr>
        <td>1</td>
        <td>Kocaeli Universitesi</td>
        <td>Cevre Muhendisligi</td>
        <td><a href="#" class="btn btn-danger">Delete</a></td>
        <td><a href="#" class="btn btn-success">Update</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Bogazici Universitesi</td>
        <td>Yazilim Muhendisligi Master</td>
        <td><a href="#" class="btn btn-danger">Delete</a></td>
        <td><a href="#" class="btn btn-success">Update</a></td>
    </tr>

</table>

<a href="/Education/CreateEducation/" class="btn btn-info">Yeni Egitim Bilgisi Girisi</a>