@model List<MyPortfolioProject.Models.Skill>

@{
    ViewBag.Title = "SkillList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yetenek Listesi ve Islemleri</h2>

<table class="table table-bordered">
    <tr> 
        <th> Id</th>
        <th> Baslik</th>
        <th> Deger</th>
        <th> Sil</th> 
        <th> Guncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SkillId</td>
            <td>@item.SkillName</td>
            <td>@item.Rate</td>
           
            <td><a href="/Skill/DeleteSkill/@item.SkillId" class="btn btn-danger">Delete</a></td>
            <td><a href="/Skill/UpdateSkill/@item.SkillId" class="btn btn-success">Update</a></td>

        </tr>
    }

</table>
<a href="/Skill/CreateSkill/" class="btn btn-info">Yeni Yetenek Girisi</a>

